* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Fondo  */
body {
    background: url(img/pexels-cookiecutter-1148820.jpg) no-repeat center center/cover;
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

/* Contenedor del formulario */
.contact-form {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
}
.contact :hover{
    transform: scale(1.05);
}

/* Título */
.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}

/* Estilos de los campos */
.contact-form .form-group {
    margin-bottom: 15px;
}

.contact-form .form-group label {
    font-size: 1em;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.contact-form .form-group input,
.contact-form .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.contact-form .form-group textarea {
    resize: none;
    height: 120px;
}

/* Botón de envío */
.contact-form button {
    width: 100%;
    padding: 10px;
    background-color: #072a40;
    color: white;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #178ca4;
}

/* Media Queries para hacer responsive */
@media (max-width: 768px) {
    .contact-form {
        padding: 20px;
    }

    .contact-form h2 {
        font-size: 1.8em;
    }
}

@media (max-width: 480px) {
    .contact-form h2 {
        font-size: 1.5em;
    }

    .contact-form button {
        font-size: 1em;
    }
}
